<!DOCTYPE html>
<html>
  <%- include("partials/head") %> 
  <body>
    
    <%- include("partials/header") %>  


      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
      </nav>
      
      <div class="container-fluid">
        <div class="row">
          <article class="col-12 videodet">
            <iframe width="100%" height="400vh" src= "<%- producto.trailer %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
          </article>
          <article class="col-12 imagendet">
            <img src="/images/products/<%- producto.imagedet1 %> " class="img">
            <img src="/images/products/<%- producto.imagedet2 %>" class="img">
            <img src="/images/products/<%- producto.imagedet3 %>" class="img">
            <img src="/images/products/<%- producto.imagedet4 %>" class="img">
          </article>
          <article class="col-12 detprod">
            <h2><%= producto.name %> </h2>
            <h4>Historia</h4>
            <p class="historia"> <%- producto.description %> </p>
            <div class="req">
            <h4>Requisitos</h4>
            <ul class="bb_ul">
              <li>
                <strong>
                  SO:
                </strong> 
                <%- producto.so %> 
                <br>
              </li>
              <li>
                <strong>
                  Procesador:
                </strong> 
                <%- producto.procesador %> 
                <br>
              </li>
              <li>
                <strong>
                  Memoria:
                </strong>
                 <%- producto.memoria %> 
                 <br>
                </li>
                <li>
                  <strong>
                    Gráficos:
                  </strong>
                  <%- producto.graficos %> 
                   <br>
                  </li>
                  <li>
                    <strong>
                      Almacenamiento:
                    </strong>
                     <%- producto.pesogb %> 
                    </li>
                  </ul>
            </div>
            <div class="col-12 comprar">
              <a href="local"><button type="button" class="btn btn-secondary">COMPRAR</button></a>
              <a href=""><button type="button" class="btn btn-secondary"><i class="fas fa-cart-plus"></i></button></a>
              
            </div>
            </article>
            
        </div>
      </div>
    



      <%- include("partials/footer") %> 

  
  
    
  </body>
</html>
