<!DOCTYPE html>
<html>
<%- include("partials/head") %>

<body>

  <%- include("partials/header") %>


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalles</li>
    </ol>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <h2><%- producto.nombre %> </h2>
      <article class="col-12 videodet">
        <iframe width="100%" height="400vh" src="<%- producto.trailer %>" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </article>
      <article class="col-12 imagendet">
        <img src="/images/products/<%- producto.imagen1 %> " class="img">
        <img src="/images/products/<%- producto.imagen2 %>" class="img">
        <img src="/images/products/<%- producto.imagen3 %>" class="img">
        <img src="/images/products/<%- producto.imagen4 %>" class="img">
      </article>
      <article class="col-12 detprod">

        <h4>Historia</h4>
        <p class="historia"> <%- producto.description %> </p>
        <div class="req">
          <h4>Requisitos</h4>
          <ul class="bb_ul">
            <li>
              <strong>
                SO:
              </strong>
              <%- producto.so %>
              <br>
            </li>
            <li>
              <strong>
                Procesador:
              </strong>
              <%- producto.procesador %>
              <br>
            </li>
            <li>
              <strong>
                Memoria:
              </strong>
              <%- producto.memoria %>
              <br>
            </li>
            <li>
              <strong>
                Gráficos:
              </strong>
              <%- producto.graficos %>
              <br>
            </li>
            <li>
              <strong>
                Almacenamiento:
              </strong>
              <%- producto.pesogb %>
            </li>
            <li>
              <strong>
                Idiomas:
              </strong>
              <%-  producto.idiomas %>
            </li>
            <li>
              <strong>
                Desarrollador:
              </strong>
              <%-  producto.desarrollador %>
            </li>
          </ul>
        </div>
        
        <div class="col-12 comprar">
          <% if (user.rol == "admin") { %>
          <a href="/carrodecompras"><button type="button" class="btn btn-secondary"><i
                class="fas fa-cart-plus"></i></button></a>
          <a href="/editar/<%= producto.id %> "><button type="button" class="btn btn-secondary">Editar</button></a>
          <form action="/detalles/delete/<%= producto.id %>?_method=DELETE" method="POST" id="formElim">
            <button class="btn btn-outline-light" id="btnElim">
              <h4 class="fas fa-trash-alt text-danger"></h4>
            </button>
          </form>

          <% } else{%>

            <a href="/carrodecompras"><button type="button" class="btn btn-secondary"><i
              class="fas fa-cart-plus"></i></button></a>
              <% } %>
        </div>

        

      </article>

      
    </div>
  </div>




  <%- include("partials/footer") %>

  

 

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script src="/js/prodDetail-script.js"></script>
</body>

</html>