<!DOCTYPE html>
<html >
  <%- include("partials/head") %> 

  <body>
    
    <%- include("partials/header") %>
    
    
    <section>

      

      <div class="row productosrec">
        <div class="col-12 recom">
          <h2>Todos los Productos</h2>
        </div>

        <% productosResult.forEach(producto => { %>

          <div class="col-12 col-md-5 col-lg-3">
            <div class="contenido">
              <!--Imagen-->
              <img src="/images/products/<%- producto.imagen_portada %>  " alt="" class="img-fluid">
              <article>
                <!--precio-->
                <h2>$<%- producto.precio %> </h2>
                <!--descuento-->
                <% if (producto.discount != 0) { %>
                <span><%- producto.discount %>% OFF</span>
                <% } %>
                <% if (producto.discount == 0) { %>
                  <span> <br> </span>
                  <% } %>
                <!--Titulo-->
                <p><%- producto.nombre %> </p>
                <!--Boton Ver mas-->
                <a href="/detalles/<%= producto.id %> " method="GET"><button class="btnvermas" type="submit">Ver
                    Mas</button></a>
              </article>
            </div>
          
          </div>
          <% }) %>
        </div>
    </section>
      
      
  
  <%- include("partials/footer") %> 

</body>  
  
</html>
