<!DOCTYPE html>
<html>
  <%- include("partials/head") %> 
  <body>
    <%- include("partials/header") %>

    <form id="Formu" class="col-12" action="" method="POST">
      
      
      <p>
        <input class="control col-12" type="email" name="email" id="correo" placeholder="E-mail">
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
      </p>
      
      
      <p>
        <input class="control col-md-6" type="password" name="password" id="Contraseña" placeholder="Contraseña">
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
      </p>
      
      
      <p class="login">
        <input class="controlBoton col-6" type="submit" value="Iniciar Sesion">
        <label><a class="redi col-12" href="/registrarse">¿No tiene una Cuenta?</a></label>
      </p>
    
    </form>



    <%- include("partials/footer") %>
</body>
</html>